* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
  width: 550px;
  height: 705px;
  border-radius: 5px;
  background-color: #222222;
}

.globe {
  width: 24px;
  margin: 7px;
}



.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #008080;
  height: 55px;

}

hr {
  width: 478px;
  align-self: center;
}

.card-container {
  display: flex;
  margin: 40px;
  flex-direction: row;

}

.card-image {
  width: 126px;
  height: 170px;
  border-radius: 4px;
}