*,
h3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
  width: 550px;
  height: 705px;
  border-radius: 5px;
  background-color: #222222;
}

.globe {
  width: 24px;
  margin: 7px;
}



.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #008080;
  height: 55px;

}

hr {
  width: 478px;
  align-self: center;
}

.card-container {
  display: flex;
  margin: 40px;
  flex-direction: row;
  align-content: center;

}

.card-image {
  width: 126px;
  height: 170px;
  border-radius: 4px;
}

.info {
  text-align: left;
  align-self: center;
  margin-left: 20px;
  color: #7C798B;
}

.location-link {
  padding-left: 5px;
  color: #7C798B;
  font-size: 10px;
}

.info-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  font-size: 25px;
  margin-bottom: 7px;
}

.info-date {
  font-size: 11px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 10px;
}

.info-description {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10px;
}